@model AHPDecision.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@{
    Html.RenderPartial("_ContentHeaderPartial", Model.ContentHeader);
}

<section class="content">
    <div class="row">
        @foreach (AHPDecision.Models.Projekt projekt in Model.Projects)
        {
            <div class="col-lg-3 col-xs-6">
                @if (projekt.fazaProjekta == 1)
                {
                    <div class="small-box bg-aqua-active">
                        <div class="inner" style="height: 100px;">
                            <h4>@projekt.naziv</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-android-checkmark-circle"></i>
                        </div>
                        <a href="/Project/Index/@projekt.id" class="small-box-footer">
                            Otvori projekt <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                }
                else if (projekt.fazaProjekta == 2)
                {
                    <div class="small-box bg-red">
                        <div class="inner" style="height: 100px;">
                            <h4>@projekt.naziv</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-compose"></i>
                        </div>
                        <a href="/Project/Index/@projekt.id" class="small-box-footer">
                            Otvori projekt <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                }
                else if (projekt.fazaProjekta == 3)
                {
                    <div class="small-box bg-green">
                        <div class="inner" style="height: 100px;">
                            <h4>@projekt.naziv</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-play"></i>
                        </div>
                        <a href="/Project/Index/@projekt.id" class="small-box-footer">
                            Otvori projekt <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                }

            </div>
        }
    </div>
    <div class="row">
        <button type="button" class="btn btn-block btn-default btn-lg center-block" style="width: 30%; margin-top: 40px;" data-toggle="modal" data-target="#modal-default">Add new project</button>
    </div>

    <div class="modal fade in" id="modal-default" style="display: none; padding-right: 17px;">
        @Html.Partial("_DialogNewPartial", Model.partialViewPodaci)
    </div>

</section>